body{
    background-color: #1b1922;
    font-family: 'Helvetica';
    color: #b7caca
}
.image{
    height: 100%; 
    width: 100%; 
    object-fit: contain
}
.title{
    background-color: #1b1922;
    font-family: 'Helvetica';
    color: #b7caca
}