.bananier {
  position: absolute;
  animation-name: bananierstart;
  animation-duration: 4s;
  opacity: 0;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 150%;
  right: 50%;
  transform-origin: center;
  -ms-transform: translateX(+50%);
  transform: translateX(+50%);
}
button{
  background-color: transparent;
  border: none;
}
@keyframes bananierstart{
  from {top: 0%; opacity: 0;}
  to {top: 40%; opacity: 1;}
}
@keyframes content{
  from {top: 100%; opacity: 0;}
  to {top: 20%; opacity: 1;}
}
.content{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: absolute;
  animation-name: content;
  animation-duration: 6s;
  opacity: 0;
  animation-delay: 0s;
  animation-fill-mode: forwards;
  right: 50%;
  transform-origin: center;
  -ms-transform: translateX(+50%);
  transform: translateX(+50%);
}
.navbar{
  font-size: small;
}
.element{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  --delay : 1s;
  --number : 4;
  position: absolute;
  animation-name: elementstart;
  animation-duration: 1s;
  opacity: 0;
  animation-fill-mode: forwards;
  transform-origin: center;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.element:nth-child(1){
  left:calc(100%/var(--number)*0.5);
  animation-delay : 0s;
}
.element:nth-child(2){
  left:calc(100%/var(--number)*1.5);
  animation-delay : calc(var(--delay)*2);
}
.element:nth-child(3){
  left:calc(100%/var(--number)*2.5);
  animation-delay : var(--delay);
}
.element:nth-child(4){
  left:calc(100%/var(--number)*3.5);
  animation-delay : calc(var(--delay)*3);
}
@keyframes elementstart{
  from {top: 0%; opacity: 0;}
  to {top: 5%; opacity: 1;}
}

h1,h2{
  color : #221E17;
}
h2{
  font-size: large;
}
.colored{
  color: #423C2D;
}
.hoverable:hover{
  color:  #423C2D;
}
a{
  text-decoration: none;
  font-size: large;
}
body{
  background-color: #FBEFB7;
}
.button-title{
  font-size: large;
}