.bananier {
  color : black;
  position: absolute;
  animation-name: bananierstart;
  animation-duration: 4s;
  opacity: 0;
  animation-delay: 1s;
  animation-fill-mode: forwards;
  font-size: 300%;
  right: 50%;
  transform-origin: center;
  -ms-transform: translateX(+50%);
  transform: translateX(+50%);
}
@keyframes bananierstart{
  from {top: 0%; opacity: 0;}
  to {top: 40%; opacity: 1;}
}
body{
  background-color: #FBEFB7;
}